$colorMain: #474e5d;
$colorSec: #ffff;
//footer
$colorFb: #3b5998;
$colorIg: #C13584;
$colorWp: #128c7e;
//color de textos
$colorText: black;
$colorTit: black;
$colorP:dark;
$colorEx: rgb(114, 19, 93);